[2020-09-21 02:40] bdougie opened #1 "master branch is hardcoded in the upstream-sync.sh"
# What is the issue?

I am interested in using this action for my project, but the HEAD branch is not master. Per the arguments, it is assumed that you can point to the project branch, but I found that the fetch is to master and not upstream branch argument.

Is this an oversight?

# Link

https://github.com/aormsby/Fork-Sync-With-Upstream-action/blob/master/upstream-sync.sh#L27

[2020-09-21 19:41] aormsby commented on #1
Oh haha, yes. My mistake. Thanks for catching that. I'll merge in your PR and update the 'v1' tag to include it. 🙂

[2020-09-21 19:42] #1 closed

[2020-09-23 07:08] cognifloyd opened #3 "Please add outputs.has-new-commits"
I would like to use `if: steps.sync.outputs.has-new-commits` so that subsequent steps only run when there are new commits.

modifying the example from the readme:

[code]

[2020-09-23 19:41] aormsby commented on #3
Done and tagged at **v1.1**. Thanks!

[2020-09-23 19:41] #3 closed

[2020-10-04 03:48] cognifloyd opened #7 "Default to 'main' branch instead of 'master'"
As described in https://github.com/github/renaming, the default branch on github is moving from `master` to `main`.
We might want to default to `main` instead of `master` as well.

Since both target and upstream branch args are currently required, this is a backwards compatible change.
Once this change is made (or as part of it), the target and upstream branch names could be made optional.

[2020-10-04 21:27] aormsby commented on #7
To avoid confusion with defaults, I just removed them. Now all required inputs need to be set explicitly in the workflow. Changed in 6f9cf9f.

[2020-10-04 21:27] #7 closed

[2020-10-21 10:59] aktur opened #10 "Getting fatal error."
My actions script fails with the following message:

fatal: refusing to merge unrelated histories
Error: The process '/bin/sh' failed with exit code 128

My forked project is:

https://github.com/aktur/docker-openvpn

[2020-10-21 16:13] dskvr commented on #10
Same issue

[2020-10-21 19:03] aormsby commented on #10
@aktur Right, I'd expect this in your case. You’ve made new commits to your branch that's tracking the upstream repo’s branch, which places you ahead of the upstream in your branch history. Even though there are no new commits to pull in from upstream, the `—ff-only` option doesn’t like this situation because it thinks you have a divergent history and won’t do a no-merge branch integration. (A nic

[2020-10-21 19:03] #10 closed

[2020-10-25 16:46] wmmc88 opened #11 "action fails: asks for git config"
Example Here: https://github.com/wmmc88/rosdistro/runs/1305372460?check_suite_focus=true

The error is
[code]

[2020-10-25 20:02] aormsby commented on #11
Oh hmm... I forgot to add user credential options to this action. I guess they're required for a rebase, but it's odd that this error didn't show up for other operations before now. Should be an easy fix. I'll take care of it and get back to you here. 🙂

[2020-10-26 02:26] paulGHub opened #12 "action failed: [remote rejected]"
my workflow: https://github.com/paulGHub/Python/actions/runs/328147668/workflow
maybe a silly question, but my action failed with the following error:

[code]

My secret token have full permission, confused to have this error.

[2020-10-26 06:39] aormsby commented on #11
Fixed in new release - https://github.com/aormsby/Fork-Sync-With-Upstream-action/releases/tag/v2.1

[2020-10-26 06:39] #11 closed

[2020-10-26 07:06] aormsby commented on #12
I *think* what's happening is that your secret token just doesn't have the permissions to update workflow files. Try checking the settings on your token.

Quick link - https://github.com/settings/tokens

Find this:
![Screen Shot 2020-10-26 at 02 04 54](https://user-images.githubusercontent.com/1312251/97142922-a7bcc480-172f-11eb-8a68-1083ffe09ade.png)

Try enabling that permission, and let me know

[2020-10-26 07:28] paulGHub commented on #12
@aormsby ,Thanks for reply. To prevent similar problems, my token is set to have full permission. you can see:

![image](https://user-images.githubusercontent.com/46396534/97144566-a75c1200-179f-11eb-98a9-63b0cc290079.png)

that's what confusing me.

[2020-10-26 19:19] aormsby commented on #12
Hmm... yes, I'm not totally sure, either. However, I did see that you're adding the secret to the sync step of your workflow _after_ the checkout step, and I'm wondering if you just have some odd credentials mixup because of that. I know that checkout persists credentials by default, so whatever you start with (not your secret, in this case) might carry on and conflict.

Maybe try a few of these t

[2020-10-27 01:29] paulGHub commented on #12
yes, i removed
[code]
part in **sync step** and in **checkout step** add
[code]
it finally works through. THANKS~

[2020-10-27 01:29] #12 closed

[2020-12-18 12:47] Fernthedev opened #14 "Can't seem to figure out why it's pulling unnecessary commits that are already in the repo"
I've been trying to make my downstream fork of a project regularly pull and merge an upstream. I've done everything right (I believe anyways) and I am able to do it manually on my local machine.
However using this action doesn't seem to work as for some inexplicable reason it's basically trying to reset my branch to the upstream branch rather than pull.

This is the repo https://github.com/Fernthe

[2020-12-18 21:12] aormsby commented on #14
Duplicate of #10

So this is your issue. I designed this action to update an *untouched* branch with any upstream commits, and *untouched* is the key piece here. In a production environment, it's generally considered bad practice to make automatic merges to any branch from an external repo without reviewing what has changed and how it affects your codebase, so the tool won't do that. It needs a cl

[2020-12-18 22:04] Fernthedev commented on #14
Ah I see. I was trying to make a customized fork of a product while keeping upstream changes merging until something such as a merge conflict appears. Then I'd manually review and edit it. Basically something like the PaperMC team does with Paper (they pull upstream changes automatically, and any conflicts or bugs are fixed manually)

Very well then, thank you for clarifying.

[2020-12-18 22:36] aormsby commented on #14
Yeah, I see what you're saying. I am wondering if modifying the `git_pull_args` input would work for you here. But there might be 2 issues at play.

First is that you're merging a ton of commits since your history diverged, so a conflict is pretty likely.
Second is this part of your log:

[code]
`git_pull_args` is just `git pull` by default, so by specifying your pull preferences (which would incl

[2020-12-18 22:47] aormsby commented on #14
Try `git_pull_args: '--ff --no-edit'`. If that doesn't work, you probably have a merge conflict.

I will make a note to run some tests this weekend. If it's not too dramatic a change, supporting your workflow might be good.

[2020-12-18 22:53] Fernthedev commented on #14
I just tried your arguments and they don't seem to work. Weirdly though is that there should be no merge conflicts (and there aren't when I run it manually on my local machine) between upstream and origin. I have rebased origin/master onto upstream/master to make sure.

This is the current result: https://github.com/Fernthedev/taskcafe/runs/1579520914?check_suite_focus=true

You could also look th

[2020-12-22 22:24] aormsby commented on #14
Do me a favor? Try simply `git_pull_args: '--no-edit'`. If there are no conflicts, this *should* merge everything without any trouble. It worked on a simple test repo I made, but I can't say for sure if it will work for your repo. Let me know what you get.

[2020-12-23 00:50] aormsby commented on #14
Okay, I know what you can do.

Somewhat recently (not sure when, exactly), git was updated to prevent any kind of merge where the merging branches don't share a common history (i.e. divergent branches). So they added the option `--allow-unrelated-histories` to account for this.

Based on what I know, **you can set `git_pull_args: '--allow-unrelated-histories'`** to do a merge between your branches

[2020-12-23 00:51] #14 closed

[2020-12-30 16:26] veerendra2 opened #16 "Can't sync with private repo"
I want to sync my private repo with other original private repo. I have added secrets to forked repo and ran workflow. But I get struck by below error
[code]
From this question --> https://stackoverflow.com/questions/56269686/git-repository-not-found-error-for-private-repository-on-github

I understood, I have to use SSH. So, manually specified ssh url like below
[code]

Got blow error. It is appe

[2021-01-02 18:53] bdaley commented on #16
I'm having the same error of "Repository not found" when trying to merge a private repo via HTTPS. In an attempt to debug, I've run this action locally, using [nektos/act](https://github.com/nektos/act). What's weird is that everything works perfectly when I run this action locally. (I.e., no "Repository not found" error.) As soon as I publish and use the action on GitHub, I get the same error as

[2021-01-09 19:59] aormsby opened #17 "Add SSH support"
HTTPS is currently the only repository connect option. It would be nice to add an SSH option.

Thoughts on implementation:
- A string input variable 'ssh' to contain SSH connection data
- A conditional check to use the SSH or HTTPS URL

[2021-01-09 20:09] aormsby opened #18 "GITHUB_ACTOR does not support repos not owned by the action user"
https://github.com/aormsby/Fork-Sync-With-Upstream-action/blob/c86999d81e8504c61a7eae1bd12ad04eae3449e5/upstream-sync.sh#L63

The `GITHUB_ACTOR` environment variable doesn't support connecting to an upstream repo owned by someone else. It assumes the action user is also the owner of the remote repo.

**Fix:**
- Replace environment variable with a 'remote_user' input variable
- Default input to GIT

[2021-01-09 20:21] aormsby commented on #16
@veerendra2 I see a couple of issues here, so let's see if we can drill down to the underlying problem you're having.

First, @bdaley is correct - this action only works with HTTPS right now. This is not your core problem, but I added #17 to note this.

Second, I noticed two problems related to the `UPSTREAM_REPO` URL @bdaley posted.

- On **my** end, I use the GITHUB_ACTOR environment variable in

[2021-01-09 21:19] aormsby commented on #18
Oops, misunderstood my own code. It's been a while. This is not an issue at all. 😅

[2021-01-09 21:19] #18 closed

[2021-01-09 21:23] aormsby commented on #16
@veerendra2 Actually, I made a mistake. My code is fine. #18 was not a bug.

So my only idea for you is to check your input variable and make sure you aren't using the full repo link. Let me know if this works.

[2021-01-11 12:11] RadWolfie opened #19 "Git's name and email swapped bug"
Hi @aormsby, I found a bug in your bash script:
https://github.com/aormsby/Fork-Sync-With-Upstream-action/blob/c86999d81e8504c61a7eae1bd12ad04eae3449e5/upstream-sync.sh#L14-L20

As you can see input email is being assigned as user.name and input user is assigned to user.email. Somehow you had them swapped in the process. The change occurred 19 days ago.

[2021-01-11 18:44] tobytes commented on #16
I am having the same problem as @veerendra2.

We have access to a private repo from another company with our github account. So on a local machine or a server I can clone / update this repo with "git clone https://<PERSONAL_ACCESS_TOKEN>@github.com/****/****.git

I now stored our PERSONAL_ACCESS_TOKEN in a secret on the workflow repo as ADMIN_TOKEN and added this secret in the configuration togeth

[2021-01-12 21:26] aormsby commented on #19
Huh. Yeah. Thanks, I'll take care of this later in the week when I spend time with another issue.

[2021-01-18 02:22] aormsby commented on #19
Fixed in [v2.3](https://github.com/aormsby/Fork-Sync-With-Upstream-action/releases/tag/v2.3) 👍

[2021-01-18 02:22] #19 closed

[2021-01-18 02:43] aormsby commented on #16
`GITHUB_ACTOR` is an Action environment variable that substitutes in your username, basically. So if I ran an action from one of my repos, the link would show up as `https://aormsby:<PAT>@github.......`

[Github docs:](https://docs.github.com/en/actions/reference/environment-variables#default-environment-variables)

I can't think of any reason why this would suddenly stop working, though. I'll con

[2021-01-18 02:53] bdaley commented on #16
Thanks, @aormsby! 

The repo that I was trying to merge from was not my own, but I do have collaborator access to it. FWIW - I was using v2.2 when I ran into this issue, but I'll give 2.3 a try and report back.

[2021-01-18 15:03] tobytes commented on #16
Thank you for the explanation @aormsby.

i tried it with version 2.3 as I was using version 2.2 before too.
Sadly I still get the same error.

[2021-01-19 02:04] aormsby commented on #16
@tobytes Okay, good to know. I'm working on setting up a new test case, but I may not have much time for it until next weekend. I'll update when I can.

[2021-02-08 14:04] canokaue opened #20 "fatal: refusing to merge unrelated histories"
I keep getting this error on the workflow of my fork, even if I use the --ff-only flag.

Any suggestions?
![Screen Shot 2021-02-08 at 11 02 56](https://user-images.githubusercontent.com/30631118/107230071-58a85000-69fd-11eb-95e4-7b64301e39bd.png)

[2021-02-09 11:25] tobytes commented on #16
@aormsby Any news regarding this issue?
I forked your repo and tried to find a solution myself, but so far without a result.
Manually on my lokal machine the process with adding the remote works fine, and the "actions/checkout@v2" action can handle the private repo too, so it should not be an access problem.

[2021-02-09 17:55] aormsby commented on #16
Hi everyone, I've been too busy with my current work to sit down with this recently. I apologize for the delay on my end, and I want to thank you for trying things out on your end. I have some notes from previous work on another computer that I'll post here later. Perhaps they will further the conversation in the meantime. Thanks for your patience.

[2021-02-09 18:03] aormsby commented on #20
Some stuff I wrote in the readme amount this very problem. Give this a try.

[Link](https://github.com/aormsby/Fork-Sync-With-Upstream-action#when-you-want-to-merge-into-an-acive-working-branch-not-recommended)

More stuff below that on merge overwrites.

If it works, please close this. If not, let me know. 😉

[2021-02-11 14:13] canokaue commented on #20
![Screen Shot 2021-02-11 at 11 07 20](https://user-images.githubusercontent.com/30631118/107647554-0ca61700-6c5a-11eb-9c74-84394c3bd8a8.png)
Hey, I still got this error. All I'm trying to do is to keep my fork updated twice a week, the only conflicting file is the workflow itself. Appreciate the help!

[2021-02-15 23:17] canokaue commented on #20
I actually got one repo to work following you suggestion @aormsby , but other 4 failed, don't know why.

[2021-02-17 08:30] misaacs21 opened #21 "has_new_commits erroneously evaluates to true"
[code]

Despite this being the output of the Fork-Sync step, it still proceeded to run echo "There were new commits" (as per the example) and subsequent steps that relied on the if-statement being false.

[2021-02-20 02:15] aormsby commented on #20
I'll need more info, I think. Is 'Fetching the repository' what you named the step where you use this action? What's your workflow like? Which one time worked (and if possible, why?) I just don't have much to go on here.

[2021-02-20 02:20] aormsby commented on #21
Is it your first time running the sync action? I think it always logs 'new' commits the first time because it doesn't have a has stored from previous runs. Should probably bug that.

[2021-02-20 11:03] imba-tjd opened #22 "Questions"
Hi. I didn't use this workflow, but I'm trying to understand it.

1. What does `1>&1` mean? From my knowledge it does nothing.

2. What will happen if user don't set `github_token`? Is `https://${GITHUB_ACTOR}:${INPUT_GITHUB_TOKEN}@github.com` a valid address?

3. ~~How can this script do the push? I don't see it sets ssh key or uses token?~~ I know. It's `actions/checkout`'s `persist-credentials`

[2021-03-16 06:12] danieletorelli commented on #20
[code]

@canokaue This is probably the pull argument you're searching for here instead of `--allow-unrelated-histories`.

[2021-03-16 12:54] canokaue commented on #20
Thank you so much @danieletorelli that did the trick 😃

[2021-03-20 04:40] justalemon opened #24 "fatal: ambiguous argument 'master': unknown revision or path not in the working tree."
I have not managed to make the action work with one of my repos ([LambentLight/ServerData](https://github.com/LambentLight/ServerData)).

My current workflow step looks like this (pretty similar to the example):

[code]

That workflow steps causes the following log output:

[code]

Am I doing something wrong? The full workflow file can be seen [here](https://github.com/LambentLight/ServerData/blob

[2021-03-21 17:46] king-11 commented on #16
@aormsby any further updates on this am also facing the issue where I have contributor access to a private repo and I have to update the fork with original upstream. The error am getting is
[code]

[2021-03-24 05:43] #22 closed

[2021-04-05 08:16] ahunt commented on #21
I'm seeing the same issue, after running the action multiple times without any changes on my fork or upstream (example here: https://github.com/ahunt/git/runs/2265456482?check_suite_focus=true ).

In fact I added an extra step:
[code]
Which is printing "_false_".

In other words: it looks like this action is doing the right thing, but workflows are interpreting the string "false" as boolean true.

[2021-05-22 12:35] HarelM opened #28 "Default template comment is duplicated"
When copying the default template the pull and push comment is duplicated and therefore has a copy-paste typo...
See here:
https://github.com/aormsby/Fork-Sync-With-Upstream-action/blob/ac3bad798688ddf124b7d83a8e4fced59a1a83a7/action.yaml#L47
https://github.com/aormsby/Fork-Sync-With-Upstream-action/blob/ac3bad798688ddf124b7d83a8e4fced59a1a83a7/action.yaml#L42
Also the readme is talking about `fet

[2021-07-05 10:12] Sow1995 commented on #16
I had a problem with this as well. But got it fixed after adding my pat token to the checkout.

It seems the problem is not with this action, but how you checkout the repository.

`
- name: Checkout main
      uses: actions/checkout@v2
      with:
        token: <YOUR_PAT_TOKEN>
`

[2021-07-05 22:16] aormsby commented on #28
Ah I see, thanks for letting me know about the typo. About the `fetch_args` these are actually used when getting the latest updates from the upstream repo (before the merge). Then the `pull_args` are used when merging the data from upstream to the local repo. I realize it's not very clear, though, and it's possible the `fetch_args` may not even be all that useful. I'm working on a 3.0 update to th

[2021-07-05 22:18] aormsby commented on #21
It does sound like an Action issue, but I'm working on an update to the action so I can at least modify it to make sure it works for our purposes. Do you know if the same behavior is still occurring?

[2021-07-05 22:22] aormsby commented on #24
Hmm... not sure offhand. Normally, I'd say to check access, but it looks like your chosen upstream repo is public. I'm currently working on an update where we'll be able to run tests and confirm repo access, upstream connections, config, and things like that. Perhaps that will help us figure out what's up. I'll post here again when some of that stuff is ready. Should be pretty soon.

[2021-07-05 22:25] aormsby commented on #20
Thank you for your help, @danieletorelli. I'm making some updates to the action, and I'll be sure to add a note about this scenario.

[2021-07-05 22:30] aormsby commented on #16
Yes, I do think authentication during the checkout process is key to this action working as expected, and I plan on adding something about that in the readme in coming updates. v2 is also missing much needed tests to verify repo connections and authenticated access, which is something I'm working on for v3. Hopefully, that will help deal with config issues in a more straightforward way. Will updat

[2021-07-19 04:06] aormsby commented on #21
The reason for this problem - at least in my sample workflow - is that I didn't use the correct syntax to check for outputs. The script works fine. The workflow condition does not.

Here's a fix:

[code]

'==' and quotes around the values does the trick for me

[2021-07-19 04:09] aormsby commented on #24
Quick question - What does your checkout step look like in your workflow?

[2021-07-19 06:49] justalemon commented on #24
[code]

[2021-07-25 21:30] aormsby opened #30 "Add local mode"
The action has an unfinished 'local mode' that can be run manually on your machine (or somewhere not on an Action runner). I think it'll work fine with some adjustments, but I don't know how extensive those adjustments would be. Need to spend time with it.

If you could run this on your machine with the same results, how would you expect it to work? Would you drop the action into an existing repo?

[2021-07-25 21:56] aormsby commented on #16
I have a solution!

So - the problem with accessing a private upstream repository is actually not the upstream access token. That should be working fine. What I found out during my v3 update is that when the first step checkout action has `persist-credentials: true` (which is the default), the action runner attempts to access your upstream repo with the stored key from the checkout. _Even if we ad

[2021-07-25 22:11] aormsby commented on #24
Okay, a few things -
1. `secrets.GITHUB_TOKEN` is a special environment variable used on the target repo - not the upstream repo. So you need to make a PAT to access your upstream repo and give it a different name. [Instructions here.](https://github.com/aormsby/Fork-Sync-With-Upstream-action/wiki/Setup-Access-Token)
2. After that change, try 'test mode' by using the new v3 of this action (#31) to

[2021-08-01 18:27] aormsby commented on #28
Fixed in 2.4 and 3.0

[2021-08-01 18:27] #28 closed

[2021-08-01 18:28] aormsby commented on #21
README updated to explain the troublesome syntax in both 2.4 and 3.0 🙂

[2021-08-01 18:28] #21 closed

[2021-08-01 18:30] aormsby commented on #16
Input changed and readme updated in v2.4 and v3.0

[2021-08-01 18:30] #16 closed

[2021-08-01 18:42] #20 closed

[2021-08-14 19:21] #24 closed

[2021-08-22 05:35] iamjameswalters opened #32 "Error: Cannot read username"
When running the action, it fails apparently trying to read the username:

[code]

When put in test mode, it appears to read it just fine:

[code]

Perhaps I've misconfigured something in my [workflow](https://github.com/iamjameswalters/VSCodePopTheme/blob/master/.github/workflows/openvsx.yml)?

[2021-08-22 16:31] aormsby commented on #32
I believe your issue is that the upstream repo is public, so you have to remove the `upstream_repo_access_token` input var. The action uses a different URL based on if that var is included or not. Give that a shot, let me know if it works for you.

[2021-08-22 18:23] iamjameswalters commented on #32
Removed the upstream access token line, and encountered the same error.

[2021-08-22 23:04] PaleLebouf commented on #32
I am having this exact same issue, my workflow also looks the same.

[2021-08-22 23:15] PaleLebouf commented on #32
I figured out the issue. It can be a publicly viewable repo, however if you need to request maintainer rights to do anything to the repo, you need an upstream access token configured.

[2021-08-22 23:17] aormsby commented on #32
You could also try setting `git_config_user` to your own username and seeing if that works. Or any username. But I'm not sure I know the underlying cause here. I just haven't gathered enough info on the problem yet.

I'll have to clone @iamjameswalters repo and try that repo/workflow out to see what I can find out. @PaleLebouf If I can do the same for you, even more test cases. If not, no worries.

[2021-08-22 23:18] PaleLebouf commented on #32
Unfortunately I can't, since it's a project under NDA. Sorry I'm not of more help!

[2021-08-22 23:22] aormsby commented on #32
@PaleLebouf Can you help clarify a little for me? In your case, you're saying the upstream repo is publicly viewable, but you don't have... read permissions, I guess?

[2021-08-23 00:39] iamjameswalters commented on #32
Adding `git_config_user: iamjameswalters` didn't work either, same error. Perhaps `No such device or address` means it can't dial out to GH/doesn't have the remote configured right at that point or something?

Beats me, but thanks for looking into this @aormsby. Let me know if I can help in any way!

[2021-08-23 01:45] aormsby commented on #32
The problem seems to be the URL for the target repo. I made a small change so the target repo URL always gets set up with the calling user and target repo token. Please test it out by setting the action like so:

`uses: aormsby/Fork-Sync-With-Upstream-action@fix/push-url`

[2021-08-23 02:13] iamjameswalters commented on #32
Aha, that fixed it! Thanks @aormsby

[2021-08-23 02:57] aormsby commented on #32
Great, thanks for checking. I pushed it into `v3.0`, so no need to use that test branch anymore.

[2021-08-23 02:57] #32 closed

[2021-08-26 05:02] glexiasvc opened #33 "Feature: GPG signing with action commits"
https://github.com/aormsby/Fork-Sync-With-Upstream-action/wiki/Scenarios-for-Advanced-Input

git_pull_args: is not valid anymore. I would submit a correction but unsure which of the _args is the current one and don't want to create more work.

Also, is there a way to specify a secret that contains a PGP key for checking to show the commit as verified?

[2021-09-11 10:00] tpletcher opened #34 "sync failing on live run but tests pass"
Hi Folks,

Set up the sync action on a freshly forked repo, used your example yaml and ran in test mode with everything green. However, when I flip over to live mode, the sync is failing with this error (Full job run logs are attached):

---------------------
Syncing new commits...
272
From https://github.com/fcsonline/drill
273
 * branch            master     -> FETCH_HEAD
274
fatal: refusing to

[2021-09-18 18:20] aormsby commented on #34
I looked at your output, and I'm a little confused about what you're trying to accomplish. Let's try and sort this out.

1. You forked the fsconline/drill repo.
    Question - If you just forked the repo, please confirm that your fork contains all commits from the upstream repo.
2. You ran the action on your fork.
3.

[2021-09-18 19:32] aormsby commented on #34
Hi @tpletcher, I took a look at all of your output, and I was able to recreate the problem. Your input is solid, and I think you've done everything correctly. I'm sure noticed that the generated list of new commits goes all the way back to that initial commit of the upstream repo.

Here's what's happening --
- You made your fork. Awesome.
- Then you added the .github/workflows/sync-action.yaml int

[2021-09-25 23:08] aormsby commented on #33
Ha! Not as simple as I thought. I didn't realize GPG signing in Actions was such a challenge for so many devs, but I've learned a few things today.

Right now, I don't think that supporting GPG setup during the sync makes a whole lot of sense, because the requirements there are sort of beyond the scope of the action. Instead, I think adding a GPG config step to the workflow before the sync would w

[2021-09-26 01:32] aormsby commented on #33
Yep, this is working for me with very small changes. @glexiasvc  I'd love if you would try it out - instructions in PR #35

[2021-10-01 17:51] mbwmbw1337 commented on #33
Confirmed fixed. Thank you! The issue is able to be resolved.

[2021-10-01 17:52] #33 closed

[2021-10-01 17:53] glexiasvc commented on #33
Thank you again, @aormsby

[2021-10-01 22:35] aormsby commented on #33
Merged and release as v3.1 👍

[2021-10-02 12:07] tpletcher commented on #34
Thanks! Makes sense. I'm really just looking to keep the fork sync'd to upstream so that "Fetch Upstream" should be fine. Appreciate the detailed response, have a great day.

[2021-10-02 12:07] #34 closed

[2021-10-17 10:49] mbwmbw1337 opened #36 "Sync Public to Private"
I have a public github repo that I want to sync to my own private repo so my embarrassing code is not public.

What is the best way to make this happen? I initially "imported" the target upstream repo which worked, then set up the sync script; however, I kept getting errors related to unrelated histories.

I followed the steps and added `--allow-unrelated-histories `which worked but now every time

[2021-10-26 10:01] BigMichi1 opened #37 "refusing to merge unrelated histories"
suddenly the action stoped working syncing with upstream. at that time I was using version 2.3 of the action,
see here:
https://github.com/BigMichi1/certbot-dns-hetzner/actions/runs/1367119281
https://github.com/BigMichi1/certbot-dns-hetzner/actions/runs/1367244674
between these two executions are 30 minutes and no change has been committed to both repositories at that time

now I tried also upgra

[2021-10-31 00:09] aormsby commented on #36
Okay yeah, I see it always thinks there are new commits in this situation. That's not great, especially with such a large history to traverse. I suspect what's happening is that after the first sync from upstream, a merge commit is created whose hash is not the same as the last commit hash you synced from upstream. That last commit hash is what the action uses to check if it needs to try and pull

[2021-10-31 00:15] aormsby commented on #37
Well, I'm going to need more information about your repos (public/private), what your workflow looks like, and things of that nature to get a better idea of what you're facing.

In the meantime, maybe try v2.4. I made some significant changes in the move to v3, and it's possible that it's not immediately compatible with your setup. However, v2.4 runs with the same flow as v2.3 with some fixes. Wor

[2021-10-31 00:16] aormsby commented on #37
Well, I'm going to have to browse through your work a bit to get a better idea of what you're facing. Not sure I have time right away, though. In the meantime, maybe try v2.4. I made some significant changes in the move to v3, and it's possible that it's not immediately compatible with your setup. However, v2.4 runs with the same flow as v2.3 with some fixes. Worth a shot.

[2021-10-31 00:19] aormsby commented on #37
Also try this -- https://github.com/aormsby/Fork-Sync-With-Upstream-action/wiki/Scenarios-for-Advanced-Input#when-your-target-and-upstream-branches-dont-share-a-common-ancestor

`upstream_pull_args: '--allow-unrelated-histories'`

That could be your solution. However, please note there is another bug you might run into detailed here -- #36. I'm working on that next.

[2021-10-31 03:23] aormsby commented on #36
Good news - I do have a fix that checks for new commits a bit more intelligently.
Bad news - I'm not sure it really solves your problem.

I was lucky enough that some new commits were made to ccxt, and I ran the action again to see if it would correctly check for new commits (it did). Since there were new commits this time, it tried to merge new stuff again. Unfortunately, there were merge conflic

[2021-10-31 22:36] aormsby commented on #36
UPDATE: I made a much better fix in the branch `check-fix-2` (PR linked above). Works for me based on your notes. I would like for you to try this out on both the fresh ccxt 'fork' and then after you run with success to check for early exit. Should be good this time.

[2021-10-31 22:49] mbwmbw1337 commented on #36
Thank you! I will give this a go and let you know. Excellent support and work on this project!

[2021-11-03 18:54] olegbal opened #39 "I want to ignore specific files from upstream."
Hi. I've found that if upstream repo will have new actions files , then you'll have an error like i had
![image](https://user-images.githubusercontent.com/11442033/140174245-a56de694-3a6b-4eb4-b05f-35d0e238f7e2.png)

Because new ci.yml file added in upstream branch i can't push it via github actions. Is it possible to ignore somehow these files??
Also tried adding any new yml files to .gitignore

[2021-11-06 20:02] aormsby commented on #39
Actually, I think your updated token is supposed to work. The token created by the action won't have workflow permissions, but a new PAT you create could, which you seem to have figured out as well.

I don't know what's in your workflow so I can only guess a bit, but do you have `persist-credentials: false` in the checkout step? Try that if you don't.

If you can share more details like the workfl

[2021-11-07 11:21] olegbal commented on #39
Hi. I don't have "persist-credentials" option at all.  As far as i remember it is only for private repos?
Here is my workflow file
https://github.com/olegbal/jitsi-meet/actions/runs/1418240492/workflow

For now problem is fixed "manually". I consider this issue for now as 'merge conflict'.
Case looks like:
1) My first fork OK.
2) I've removed all fork's github actions .yml
3) To add my github acti

[2021-11-07 18:47] aormsby commented on #39
Sure, but you're trying to replace the token the action created with the one you want to use. If you don't set that to false, it won't happen.

[2021-11-11 02:50] Wyn-Price commented on #37
Using #38 fixed this for me `uses: aormsby/Fork-Sync-With-Upstream-action@check-fix-2`

[2021-11-26 02:18] #39 closed

[2021-11-26 02:23] aormsby commented on #37
#38 merged, released as v3.2

[2021-11-26 02:23] #37 closed

[2021-11-26 02:24] aormsby commented on #36
#38 merged, released as v3.2

[2021-11-26 02:24] #36 closed

[2021-12-16 11:10] burner1024 opened #41 "fatal: error processing shallow info: 4"
Hi.
Just switched to 3.2 and this error [popped up](https://github.com/BGforgeNet/sfall/runs/4546506130?check_suite_focus=true).
More importantly, it's not registered as an error, GHA run is marked successful.

[2021-12-17 04:38] knsim24 opened #42 "Unsure input for multi-target branch .yml"
![image](https://user-images.githubusercontent.com/95121651/146489522-18226fd7-6727-4d09-bff3-5b5043bc6248.png)
![image](https://user-images.githubusercontent.com/95121651/146489572-37c5b200-b577-4381-975e-dbdb4ca936db.png)

I was unsure how to put multiple target branches from the upstream repo. How to do?

[2021-12-24 09:50] #42 closed

[2021-12-25 06:49] 187Mx opened #43 "More Crooked Than My Barn Door"
Your Errors-Issues Are Just Default Gateways!?... BUT? AND? NOT! AT? All!-!?-?
0=0 for words of default gateways
Look Closer Too The Back Of My Barn Ya See A Hole BUT!? Silently? YES! And? Oux Loud NOT! AT? ALL!-!?-?....

[2021-12-31 03:10] Alanscut opened #44 "refusing to allow a GitHub App to create or update workflow `.github/workflows/issue-inactive.yml` without `workflows` permission"
When the other files in .github directory changed, the sync action will failed:
[code]

[2021-12-31 16:48] m-roberts commented on #44
I have the same issue, though obviously on a different workflow file. Seems that a Personal Access Token is required to get around this?

[2022-01-14 14:29] mattborghi commented on #41
Quick fix for me: using `v3.1`.

[2022-01-17 00:13] #43 closed

[2022-01-17 00:38] aormsby commented on #41
@burner1024 Did 3.1 work for you?

---

It's actually not strange to me that the action exits as a success because it probably doesn't account for whatever error you've run into. If the check for commits fails, the action (naively) assumes there are no commits to sync. Basically, it needs to be more robust in checking for errors when trying to get commits.

But I don't know if that's worth fixing

[2022-01-17 00:44] aormsby commented on #44
I agree, that does seem similar to #12.

In a nutshell -- if everything else works, but you just can't push at the final step, it's almost certainly permission/credentials related. That has been my experience during development.

Check out the [Setup Notes](https://github.com/aormsby/Fork-Sync-With-Upstream-action/wiki/Configuration#setup-notes) here on the wiki and see if they help. If not, let m

[2022-01-17 08:43] burner1024 commented on #41
Yes, not strange, just bad. Probably better stick `set -xeu -o pipefail` inside.

3.1 worked for me, and 3.2 with `shallow_since` seem to have [worked](https://github.com/BGforgeNet/sfall/runs/4838127822?check_suite_focus=true) too. Thanks.

[2022-01-17 18:15] aormsby commented on #41
Well, an error and failure would not be desirable in the case of checking for new commits. If I schedule the sync action to run every week but don't commit anything in that week between syncs, I don't want the action to fail just because there's nothing to sync. It's fully aware there is nothing to sync, and that's _okay_.

In fact, it's even _great_ that the action can handle that situation becau

[2022-01-17 18:15] #41 closed

[2022-01-18 06:34] burner1024 commented on #41
I never said the action should fail when there's no commits to sync.
I think it should fail when its commands fail, and you don't have a specific handler for that specific failure. And you're not going to have a handler for every kind of failure.
Silently swallowing errors is bad. I only noticed it didn't work by luck. That's the real issue. It will happen again, until every command's exit code is

[2022-01-18 19:09] sprak3000 opened #45 "Using v3.2 results in "fatal: could not read Username for 'https://github.com': No such device or address""
When I attempt to use v3.2 of the action, I receive this as an error:

[code]

Looking through past issues, I found #32 and saw the fix applied made it into v3.0 with the issue creator using v3.0 in their repo currently. Switched to v3.0 and no longer see the above error message. That said, v3.0 gives me this error:

[code]

This error seems related to #37 where the fix was applied to v3.2 of the

[2022-01-24 14:11] ZhaoUncle commented on #45
same issues

[2022-02-03 06:28] Kukkerem commented on #45
same

[2022-02-09 19:10] josesimoes commented on #44
I'm having the same issue. If a action yaml it's changed upstream the update will fail with that message that workflow permission is required for the app.

[2022-02-11 17:25] m-roberts commented on #44
I am unable to get the following working, which (if I understand correctly) is using my PAT as a checkout token as mentioned by @josesimoes, but `target_repo_token: ${{ secrets.GITHUB_TOKEN }}` does not seem to change the result (I am still getting the same error)

[code]

[2022-02-11 17:28] josesimoes commented on #44
@m-roberts on the above: I've removed the token on the `Fork-Sync-With-Upstream-action` action config.
Take a look at how it ended up working for me:
https://github.com/OrgPal/nf-interpreter/blob/orgpal-mesh/.github/workflows/merge-upstream.yml

[2022-02-11 17:55] m-roberts commented on #44
Sadly I have modified my earlier code to remove the token from the sync action, but I still get an error.

[2022-03-01 15:31] endocrimes opened #46 "`target_branch_push_args` is actually `target_push_args`"
Currently it's documented in the README and Action metadata that `target_branch_push_args` is the correct field for providing args to `git push`. However, in the code [`INPUT_TARGET_PUSH_ARGS`](https://github.com/aormsby/Fork-Sync-With-Upstream-action/blob/8bfb7e7a0dfc91410c1b223d9b1bc9d1dafcbc08/run/push_updates.sh#L14), which correlates to `target_push_args` is used.

Happy to open a PR to eithe

[2022-03-13 20:00] aormsby commented on #44
@m-roberts Check if you have 'write' permissions for actions enabled.
1. check in your repo settings - [docs](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/enabling-features-for-your-repository/managing-github-actions-settings-for-a-repository#configuring-the-default-github_token-permissions)

<img width="639" alt="Screen Shot 2022-03-13 at 14 58 29" src="

[2022-03-13 20:04] aormsby commented on #45
If privacy is not an issue, could someone please link their workflow logs?

[2022-03-13 20:21] aormsby commented on #45
@sprak3000
**For v3.0 failure**
- Your checkout depth is 1 by default when using github checkout action.
- Try to add `fetch-depth: 0` to the checkout step to make sure you have a full history for merging. (You can probably remove this after the first successful run.)
- Additionally, you can add `upstream_pull_args: '--allow-unrelated-histories'` to the sync step and try that.

Not sure on v3.2, h

[2022-03-13 20:30] aormsby commented on #46
Ah hmm, I had meant to update the variable to include 'branch' for clarity. I'll have to think about it.

[2022-03-14 12:04] sprak3000 commented on #45
@aormsby

Looks like those commands might have done the trick. The most recent scheduled attempt passed, but there were no updates from upstream. I'm going to leave this open a bit longer to see what happens when there are updates, but the initial outlook is promising.

[2022-03-17 22:36] rmarqusi commented on #45
I was facing the same error here(private repo), I used you suggest, and now it's fine. Thanks @aormsby
Lines included:
fetch-depth: 0
upstream_pull_args: '--allow-unrelated-histories'
the message error still but now the action could identify new commits/ No new commits
![image](https://user-images.githubusercontent.com/47756058/158905468-fa88f19c-1a10-4c1b-9a1a-de0181207e92.png)

[2022-03-27 15:20] burner1024 opened #47 "External target repo"
How about allowing to sync not the current repo, but another one?
Meaning you'd have a dedicated "cron" repo, which would pull from some upstream and push to some fork.
That'd be more convenient to use in the fork, since cron actions only run in default branch, I think? So you either have to change default branch in the fork, or keep getting merge commits into main.

I wonder if that would also he

[2022-03-27 16:05] kousu commented on #46
Ah I just noticed this too. Glad to see there's already an issue about it. :)

## My Use Case

I'm trying to keep 'main' synced with upstream, but because Actions cronjobs only run on 'main' I need to add this Action to it. Now the default of `--ff-only` fails, because the branches have diverged. The [docs mention](https://github.com/aormsby/Fork-Sync-With-Upstream-action/wiki/Scenarios-for-Advanc

[2022-04-02 19:36] aormsby commented on #45
Cool, thanks for the updates 👍

[2022-04-02 19:36] #45 closed

[2022-05-10 01:57] aormsby commented on #47
In my opinion, this is often the wise choice anyway. But yeah, I see what you mean.

I'm not opposed to this, but I'm not really putting the time into it right now. If anyone wants to provide support, I'm open to helping and reviewing. A few notes from me:
1.  Keep in mind the Action was designed around syncing the repo the workflow lives in. This kind of change is outside that scope, and it could

[2022-05-10 01:59] aormsby commented on #46
My apologies for letting this sit. This project has been on the backburner for a little while. I'll just update the docs to make life easier for y'all.

[2022-05-10 02:12] aormsby commented on #46
Sorry, lied a little bit. I'll update the code. No matter which I update, the fix needs a minor release. Even if I go the docs route, I have to change the yaml input var, and I'd want to make sure the updated entry point var gets attention. Then the code route... well, that needs a release anyway. So I'm going to go wit the updated names and fix the code to match. Maybe that's crappy reasoning, bu

[2022-05-10 02:15] aormsby commented on #46
Please test and confirm fix for me on `aormsby/Fork-Sync-With-Upstream-action@fix-var-name`

[2022-05-15 22:11] thedoggybrad opened #49 "Issue: My repo is up but detected as 403 Error (Some sorts of Forbidden)"
<details><summary>Action output</summary><p>

[code]

</p></details>

[2022-05-15 22:12] thedoggybrad commented on #49
You can confirm that the forked repo and the main repo is in master

https://github.com/thedoggybrad/UBlockFiltersforall

https://github.com/uBlockOrigin/uAssets

[2022-05-15 22:13] thedoggybrad commented on #49
Summary:
HTML Error 403
Error Code 128

[2022-05-16 01:11] aormsby commented on #49
remote: Permission to thedoggybrad/UBlockFiltersforall.git denied to github-actions[bot].
186
fatal: unable to access 'https://github.com/thedoggybrad/UBlockFiltersforall/': The requested URL returned error: 403

It couldn't be found because the actions bot doesn't have permission to access the repo. Maybe you didn't [set up token inputs](https://github.com/aormsby/Fork-Sync-With-Upstream-action/w

[2022-05-16 05:07] thedoggybrad commented on #49
I think I put it correctly.
If you want I am allowing you to check it:

https://github.com/thedoggybrad/UBlockFiltersforall/blob/master/.github/workflows/main.yml

My action secret was PERSONAL_TOKEN the same thing as secret.PERSONAL_TOKEN I do not have any environment intialized.

Can you spot any problems? I am just a beginner in Github.

[2022-05-16 05:11] thedoggybrad commented on #49
@aormsby Should I set persist credentials as false? I set it to True. Should I set the secrets.Github_Token instead of secrets.PERSONAL_TOKEN on my secrets page. Thank You and hope that anyone help me, as really I am just a beginner in Github.

[2022-05-16 05:39] thedoggybrad commented on #49
@aormsby I discovered that the issue is coming due to the github actions are set to read only. Sorry for disturbances. I am just a beginner. Sorry. It is now working.

[2022-05-16 05:39] #49 closed

[2022-05-16 08:49] jantari commented on #45
Ran into this same issue on 3.2 and it appears that the fix that made it into 3.0 was removed in 3.2 again.

This was the fix in 3.0: https://github.com/aormsby/Fork-Sync-With-Upstream-action/commit/aa1ee5d4f968eff69802e9a63faebcac1734e273?diff=split

but if we look at the current `push_updates.sh` file in main or 3.2 then that change is undone: https://github.com/aormsby/Fork-Sync-With-Upstream-a

[2022-05-20 12:07] thedoggybrad commented on #49
@aormsby
I am thanking you and all of this project's contributors. My project was made successful by this project and not to be dependent on manual updates.

Here is the repo:
https://github.com/thedoggybrad/UBlockFiltersforall/

Here is the actions tab:
https://github.com/thedoggybrad/UBlockFiltersforall/actions

Thank You again on this project as it is my strong need for my project.

It is worki

[2022-05-21 07:02] aormsby commented on #45
Hmm, I really don't remember. 😐

[2022-05-21 07:24] aormsby commented on #46
Pre-released to `v3.3`. Closing for now. If there are any issues, we can re-open.

[2022-05-21 07:24] #46 closed

[2022-06-09 20:23] fetchdevteam opened #51 "Fork not work"
[code]

[2022-06-16 15:50] fetchdevteam commented on #51
Ok i have found the problem.

[2022-06-27 12:51] wzwtt opened #52 "fatal: refusing to merge unrelated histories"
Syncing new commits...
From https://gitee.com/OpenHarmony/docs
 * branch                master     -> FETCH_HEAD
fatal: refusing to merge unrelated histories
ERROR:  exit 128
New commits could not be pulled.
Try running in test mode to verify your action input. If that does not help, please open an issue.
Resetting git config to previous settings.
Reset Complete
Error: The process '/usr/bin/sh' fa

[2022-07-04 13:27] drhcelik opened #53 "could not read Username for 'https://github.com/': No such device or address error"
Hello. I created one Github Actions file to fetch upstream changes. The script that I used it below. When I run in test mode, it works quite well and doesn't throw any error. When I change test_mode to false, it gives me this error:

The error that I get:

[code]

May you help me to spot and fix my problem?

Thanks a lot.

Here my Github Actions file:

[code]

[2022-07-05 01:41] aormsby commented on #52
Please try searching [closed issues](https://github.com/aormsby/Fork-Sync-With-Upstream-action/issues?q=is%3Aissue+is%3Aclosed). This error message comes up a lot.

[2022-07-06 06:47] drhcelik commented on #53
Yes, I checked closed issues as well, it seems like using v3 might fix the problem. I haven't tried it actually, but I may give it a try

[2022-07-12 13:53] Sumsky21 commented on #53
Same problem, and the method in issue #45 don't work. Using v3.3.

My config file:

[code]

[2022-07-15 23:32] adamwilborn commented on #53
Having the same issue here. Looked through the old issues and tried everything mentioned there as well.

[2022-09-20 20:31] the-sphynx commented on #53
Throwing my 2 cents in here too.  Same error as drhcelik.  Tried fixes in #45 but no luck.
[code]

[2022-10-08 14:39] GuyKh commented on #53
Me too

[2022-10-19 06:24] PeterVoronov commented on #53
Please look on this [PR](https://github.com/aormsby/Fork-Sync-With-Upstream-action/pull/56).

[2022-10-19 06:30] PeterVoronov commented on #53
Temporary you can apply a fix via:
[code]

[2022-10-30 23:48] aormsby commented on #53
Thanks for fixing this. I merged into `v3.4`. It's currently pre-release, and if someone here can verify the fix I'll make it a full release.

https://github.com/marketplace/actions/upstream-sync?version=v3.4

[2022-10-31 16:33] PeterVoronov commented on #53
You are always welcome!

[2022-11-10 15:26] sprak3000 commented on #53
If it helps, I just used the 3.4 version and had the action run successfully. Thank you all for patching this up.

[2022-11-14 16:36] RyanGaudion opened #59 "Merge Conflicts"
Hi,

I am receiving merge conflicts during my sync. How can I force the sync to go through overwriting target with source?

this is my action step:

[code]

and these are my errors:

[code]

[2022-11-14 16:37] RyanGaudion commented on #59
To note: I've looked through the closed issues and couldn't find anything related

[2022-11-19 23:13] aormsby commented on #53
Thanks, will release fully

[2022-11-19 23:13] #53 closed